# Python Virtual Environments
backend/venv/
backend/.venv/
**/__pycache__/
*.pyc

# Next.js build artifacts
frontend/.next/
frontend/out/

# Node dependencies
**/node_modules/

# Environment Variables
.env
backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS Metadata
.DS_Store
Thumbs.db
